## This file deploys a three-node cluster on KVM
## Given that it will be enriched/merged with defaults found in
## config/defaults.libvirt.yaml, theres no need to specify every single key
name: test_libvirt
provider: libvirt

common:
    qemu_uri: qemu+ssh://user@hypervisor.machine.org/system
    volume_name: SLES4SAP-15_SP2
    storage_pool: terraform
    private_ip_range: 192.168.145.0/24
    public_bridge: "br0"
    shared_storage_type: shared-disk
    reg_email: john.doe@organization.com
    reg_code: GIVEN-CODE-TO-JOHN
    
node:
    count: 3

    1:
        additional_repos: 
            my_repo: my_repo_url
    
    2:
        additional_pkgs:
            - my_package

    3:
        volume_name: SLES4SAP-15_SP1

qdevice:
    enabled: false
    options: "-s off"

examiner:
    enabled: false
