## This file deploys a three-node cluster on KVM
## Given that it will be enriched/merged with defaults found in
## config/defaults.yaml, theres no need to specify every single key
name: local-ha-cluster-custom-name
provider: libvirt

terraform:
    common:
        qemu_uri: qemu:///system
        source_image: https://download.opensuse.org/tumbleweed/appliances/openSUSE-Tumbleweed-JeOS.x86_64-kvm-and-xen.qcow2
        shared_storage_type: shared-disk

    node:
        count: 2
