name: test
provider: libvirt

terraform:
    common:
        qemu_uri: qemu+ssh://vmm@gollum-p1.qa.suse.de/system
        volume_name: SLES4SAP-15_SP1
        storage_pool: terraform
        ip_range: 192.168.145.0/24         # change this
        isolated_network_bridge: virbr128  # and this
        shared_storage_type: shared-disk
        sbd_disk_size: 104857600

    node:
        count: 3

salt:
    common:
        reg_email: john.doe@organization.com
        reg_code: GIVEN-CODE-TO-JOHN
        ha_repo: http://download.opensuse.org/repositories/network:ha-clustering:sap-deployments:devel
