## This file deploys a three-node cluster on KVM
## Given that it will be enriched/merged with defaults found in
## config/defaults.yaml, theres no need to specify every single key
name: test
provider: libvirt

terraform:
    common:
        qemu_uri: qemu+ssh://user@hypervisor.machine.org/system
        volume_name: SLES4SAP-15_SP1       # name for exisiting volume
        storage_pool: terraform            # under this server folder for storage
        ip_range: 192.168.145.0/24         # change this
        isolated_network_bridge: virbr128  # and this
        shared_storage_type: shared-disk

    node:
        count: 3 # We want three nodes

salt:
    common:
        reg_email: john.doe@organization.com
        reg_code: GIVEN-CODE-TO-JOHN
        ha_repo: http://download.opensuse.org/repositories/network:ha-clustering:sap-deployments:devel
