provider: libvirt

role: node

name_prefix: "{{ terraform.workspace }}-node"

hostname: "{{ terraform.workspace }}-node0{{ index + 1 }}"

network_domain: "{{ salt.node.network_domain }}"

host_ips: {{ jsonify(terraform.node.private_ips) }}

host_ip: "{{ terraform.node.private_ips[index] }}"

shared_storage_type: "{{ terraform.common.shared_storage_type }}"

sbd_disk_device: "{{ "/dev/vdb" if terraform.common.shared_storage_type == "shared-disk" }}"

sbd_disk_index: 1

iscsi_ip: "{{ terraform.iscsi.private_ip }}"

monitor_enabled: {{ 'true' if terraform.monitor.enabled else 'false'}}

reg_email: "{{ salt.common.reg_email }}"

reg_code: "{{ salt.common.reg_code }}"

reg_additional_modules: {}

ha_repo: "{{ salt.common.ha_repo }}"

#additional_packages: [${join(", ", formatlist("'%s'", var.additional_packages))}]

#authorized_keys: [${trimspace(file(var.public_key_location))}]
