provider: libvirt

role: {{ role }}

cluster_name: "{{ name }}"


## COMMON ##
shared_storage_type: "{{ common.shared_storage_type }}"

reg_email: "{{ common.reg_email }}"

reg_code: "{{ common.reg_code }}"

reg_additional_modules: {}

network_domain: "{{ common.network_domain }}"

additional_pkgs: {{ env[role].additional_pkgs }}

additional_repos: {{ env[role].additional_repos }}

authorized_keys: [] ##[ "key" ]

{% if role == "node" %}

host: "{{ name }}-{{ role }}{{'{:0>2}'.format(index + 1)}}"

host_ip: "{{ node.private_ips[index] }}"

{% else %}

host: "{{ name }}-{{ role }}"

host_ip: "{{ env[role].private_ip }}"

{% endif %}

ha_repo: "{{ env[role].additional_repos['ha_repo'] }}"


## NODE ##
name_prefix: "{{ name }}-node"

host_ips: {{ jsonify(node.private_ips) }}

sbd_disk_index: 1

sbd_disk_device: "{{ "/dev/vdb" if common.shared_storage_type == "shared-disk" else "/dev/sdb" }}"

iscsi_ip: "{{ iscsi.private_ip }}"

qdevice_ip: "{{  qdevice.private_ip }}"


## QDEVICE ##
qdevice_enabled: {{ jsonify(qdevice.enabled) }}

qdevice_options: "{{ qdevice.options }}"


## ISCSI ##
iscsi_device: "{{ iscsi.device }}"

iscsi_disks: {{ iscsi.disks }}

partitions:
  1:
    start: 1
    end: 33%
  2:
    start: 33%
    end: 67%
  3:
    start: 67%
    end: 100%
