provider: libvirt

role: iscsi

name_prefix: "{{ name }}-iscsi"

hostname: "{{ name }}-iscsi"

network_domain: "{{ salt.iscsi.network_domain }}"

host_ip: "{{ terraform.iscsi.private_ip }}"

iscsi_ip: "{{ terraform.iscsi.private_ip }}"

iscsi_device: "{{ salt.iscsi.device }}"

iscsi_disks: {{ salt.iscsi.disks }}

reg_email: "{{ salt.common.reg_email }}"

reg_code: "{{ salt.common.reg_code }}"

reg_additional_modules: {}

ha_repo: "{{ salt.common.ha_repo }}"

#additional_packages: [${join(", ", formatlist("'%s'", var.additional_packages))}]

partitions:
  1:
    start: 1
    end: 33%
  2:
    start: 33%
    end: 67%
  3:
    start: 67%
    end: 100%
