provider: libvirt

role: node

cluster_name: "{{ name }}"

name_prefix: "{{ name }}-node"

host: "{{ name }}-node0{{ index + 1 }}"

network_domain: "{{ salt.node.network_domain }}"

host_ips: {{ jsonify(terraform.node.private_ips) }}

host_ip: "{{ terraform.node.private_ips[index] }}"

shared_storage_type: "{{ terraform.common.shared_storage_type }}"

sbd_disk_device: "{{ "/dev/vdb" if terraform.common.shared_storage_type == "shared-disk" else "/dev/sdb" }}"

sbd_disk_index: 1

iscsi_ip: "{{ terraform.iscsi.private_ip }}"

monitor_enabled: {{ jsonify(terraform.monitor.enabled) }}

reg_email: "{{ salt.common.reg_email }}"

reg_code: "{{ salt.common.reg_code }}"

reg_additional_modules: {}

ha_repo: "{{ salt.common.ha_repo }}"

qdevice_enabled: "{{ jsonify(terraform.qdevice.enabled) }}"

qdevice_ip: "{{  terraform.qdevice.private_ip if terraform.qdevice.enabled }}"

#additional_packages: [${join(", ", formatlist("'%s'", var.additional_packages))}]

#authorized_keys: [${trimspace(file(var.public_key_location))}]
