qemu_uri = "{{ terraform.common.qemu_uri }}"

#
# Common infrastructure
#
source_image = "{{ terraform.common.source_image }}"
volume_name = "{{ terraform.common.volume_name }}"
storage_pool = "{{ terraform.common.storage_pool }}"
network_name = "{{ terraform.common.network_name }}"
ip_range = "{{ terraform.common.ip_range }}"
#isolated_network_bridge = "{{ terraform.common.isolated_network_bridge }}"
isolated_network_bridge = "{{ name }}-br"
shared_storage_type = "{{ terraform.common.shared_storage_type }}"
sbd_disk_size = {{ terraform.common.sbd_disk_size }}


#
# Cluster Nodes
#
node_source_image = "{{ terraform.node.source_image }}"
node_volume_name = "{{ terraform.node.volume_name }}"
node_count = {{ terraform.node.count }}
node_cpus = {{ terraform.node.cpus }}
node_memory = {{ terraform.node.memory }}
node_disk_size = {{ terraform.node.disk_size }}
node_private_ips = {{ jsonify(terraform.node.private_ips) }}

#
# iSCSI server
#
iscsi_source_image = "{{ terraform.iscsi.source_image }}"
iscsi_volume_name = "{{ terraform.iscsi.volume_name }}"
iscsi_cpus = {{ terraform.iscsi.cpus }}
iscsi_memory = {{ terraform.iscsi.memory }}
iscsi_disk_size = {{ terraform.iscsi.disk_size }}
iscsi_private_ip = "{{ terraform.iscsi.private_ip }}"


#
# Monitor
#
monitor_enabled = {{ jsonify(terraform.monitor.enabled) }}
monitor_source_image = "{{ terraform.monitor.source_image }}"
monitor_volume_name = "{{ terraform.monitor.volume_name }}"
monitor_cpus = {{ terraform.monitor.cpus }}
monitor_memory = {{ terraform.monitor.memory }}
monitor_private_ip = "{{ terraform.monitor.ip }}"
